@using Microsoft.AspNetCore.Identity
 @{string reelName = "";}

@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)){ 
   ApplicationUser appUser = await UserManager.GetUserAsync(User); 
   reelName = appUser.ReelName; 
   }


<nav > 
   <a href="~/Index" > 
      <div  >   
         <img class="logopic" src="~/images/MVRL.png" alt="Movie Reel Pic" width="60" height="20">
         <div class="logo">
         <div class="toplogo" >TOTALLY REEL</div> <br> <div class=" logobottom">MOVIE REVIEW</div> </div>      
      </div>
   </a>

   <a href="~/MovieList">Movie List</a>
   <a href="~/About">About</a>

    @if (SignInManager.IsSignedIn(User)){ 
         <a href="~/Login">Currently Logged in as: @reelName </a> 
         <a class="btn btn-light right"  href="~/SelfProfile" title="Manage" role="button">Profile</a>
          <a class="btn btn-light right" asp-area="Identity" asp-page="/Account/Logout" role="button">Logout</a>
        }
      else{
         <a href="~/Login">Not Currently Logged In</a>
          <a class="btn btn-light right"  asp-area="Identity" asp-page="/Account/Register" role="button">Register</a>
          <a class="btn btn-light right" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
        }
</nav>


<main>

<ul>
    
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name's Account Settings</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

</main>