@page
@model IndexModel
@{
   ViewData["Title"] = "About"; 
}
@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

   <nav> 
   <a href="~/Index"> <img src="~/images/MVRL.png" alt="Movie Reel Pic" width="60" height="20">TOTALLY REEL MOVIE REVIEW </a>
   <a href="~/MovieList">Movie List</a>
   <a href="~/About" >About</a>
   <a href="~/Login" class="active">Login/Register</a>
   @if (SignInManager.IsSignedIn(User)){ //This needs to be on every page (try adding to layout page)
      <a href="~/Login">Currently Logged in as: @User.Identity.Name</a>
   }
   else{
      <a href="~/Login">Not Currently Logged In</a>
   }
   <button class="right">Search!</button>
   <input type="text" class="right" placeholder="Search a movie..">
   </nav>

<main role="main" class="pb-3">
   <h2> What is Totally Reel? </h2>
   <p>
      Totally Reel Movie Reviews is both a review site for films and a forum to share YOUR thoughts with other people. With an account at Totally Reel, you can also get 
      recommendations based on films that you have reviewed highly, so you can expand your list of favorites as you share opinions as well as read and respond to other users. 
      Totally Reel is a great place to have your access to information about your favorite movies at your fingertips, all in one easy to access place! 
   </p>
   <h2> Rules </h2>
   <p>
      We DO have some guidelines when it comes to posting comments on our site. Failure to comply with these rules can result in your comment being removed, and repeat offenders
      may find their commenting priviledges taken away by admin.
   </p>
   <ol>
   <li> No posting irrelevant information. </li>
   <p> We want users to be able to read reviews and commentary about films without sifting through unrelated comments! Please refrain from discussing topics 
      that aren't related to the film that the review or comment is for. 
   </p>
   <li> No posting comments recommending or discussing other movies </li>
   <p> This goes in hand with the previous rule. Please keep comments relevant, and don't talk about other films. It is okay to mention other movies as a comparison or to mention 
      a prequel or sequel, but please refrain from recommending or reviewing another movie, and safe that content for the forum for that film. 
   </p>
   <li> No using racial slurs, discrimitory language, or hate speech </li>
   <p> Everyone is allowed to use our site, and we want all of our users to feel safe and free to discuss movies they enjoy. While Totally Reel values free speech, we also acknowledge
      the importance of taking a stand against behavior that we deem inappropriate. In addition, in the spirit of keeping our comment sections relevant, we do not see how using 
      derogatory language would be important to a movie review. Thus, please refrain from such behavior.
   </p>
   <li> No posting more than one review for a movie within 30 days, except to reply to others </li>
   <p> We don't want our comment sections flooded with tons of reviews written by one person. While it is okay, to write another review after your opinion has changed or you want
      clarify or mention something you forgot, please wait 30 days before writing a second review. It is okay, however, to reply to other comments or respond to others as often as you 
      like! 
   </p>
   <li> No re-posting reviews or comments that have been taken down </li>
   <p>If you think that a post that was taken down was removed unjustly, then it is easy to send an appeal to admin to see if the post can be restored. If you re-post 
      something that was taken down, then you risk losing the priviledge to continue making posts.
   </p>
   <li> Be as unbiased as possible in your reviews </li>
   <p>It is inevitable that your personal opinion will influence your review for a movie, even for professional movie critics. However, try your best to remove your 
      nostalgia glasses and write as honest a review as you can. Try commenting on specific features of a movie, or explaining in detail the things that you like or dislike, 
      rather than making generic statements on whether a movie is good or bad. 
   </p>
   <li>Enjoy yourself!</li>
   <p>Totally Reel Movie Reviews is a place for users to express their thoughts about movies and hear other people's thoughts as well. Discussion is 
      encouraged, the most important thing about using the site is interacting by commenting and rating movies, so that we're able to make recommendations more
      accurately and attuned to YOUR movie tastes!
   </p>
</main>