@page
@model IndexModel
@{
   ViewData["Title"] = "About"; 

}

<main role="main" class="pb-3">
   <h2> What is Totally Reel? </h2>
   <p>
      Totally Reel Movie Reviews is the best platform around to leave reviews and ratings for your favorite Reel Movies! All you need is an email to register for a TRMR account
      to begin sharing your thoughts and seeing what other Totally Reel Reviewers have to say.
   </p>
   <h2> Rules </h2>
   <p>
      We DO have some guidelines when it comes to posting reviews on our site. Failure to comply with these rules can result in your review being removed, and repeat offenders
      may find their reviewing priviledges taken away. 
   </p>
   <ol>
   <li> No posting irrelevant information. </li>
   <p> We want users to be able to read reviews and commentary about films without sifting through unrelated comments! Please refrain from discussing topics 
      that aren't related to the film that the review or comment is for. 
   </p>
   <li> No posting comments recommending or reviewing other movies </li>
   <p> This goes in hand with the previous rule. Please keep comments relevant, and don't talk about other films. It is okay to mention other movies as a comparison or to mention 
      a prequel or sequel, but please refrain from recommending or reviewing another movie, and save that content for the appropriate page for that film. 
   </p>
   <li> No using racial slurs, discrimitory language, or hate speech </li>
   <p> Everyone is allowed to use our site, and we want all of our users to feel safe and free to discuss movies they enjoy. While Totally Reel values free speech, we also acknowledge
      the importance of taking a stand against behavior that we deem inappropriate. In addition, in the spirit of keeping our review sections relevant, we do not see how using 
      derogatory language would be important to a movie review. Thus, please refrain from such behavior.
   </p>
   <li> No over posting reviews on a single movie page, except to reply to others </li>
   <p> We don't want our comment sections flooded with tons of reviews written by one person. While it is okay, to write another review after your opinion has changed or you want
      clarify or mention something you forgot, please wait an appropriate amount of time before writing another review. It is okay, however, to reply to other comments or respond to others as often as you 
      like! <em style="color:red;">Please refrain from leaving a score on any followup comments on movie pages!</em>
   </p>
   <li> Be as unbiased as possible in your reviews </li>
   <p>It is inevitable that your personal opinion will influence your review for a movie, even for professional movie critics. However, try your best to remove your 
      nostalgia glasses and write as honest a review as you can. Try commenting on specific features of a movie, or explaining in detail the things that you like or dislike, 
      rather than making generic statements on whether a movie is good or bad. 
   </p>
   <li>Enjoy yourself!</li>
   <p>Totally Reel Movie Reviews is a place for users to express their thoughts about movies and hear other people's thoughts as well. Discussion is 
      encouraged, the most important thing about using the site is interacting by commenting and rating movies, so that we're able to make recommendations more
      accurately and attuned to YOUR movie tastes!
   </p>
</main>