@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



 <div id="Movie_Poster_Pic" >
    <a href="TRMR_MovieReview.html">

    </a>
</div>

<div>

  <div class="row content">
          <div class="col-sm-2 sidenav">

           <div id="sidebar">
              <div class="sidebar-header">
                  <h3>Movie Genre</h3>
              </div>
      
              <ul class="list-unstyled components">
                   <li class="active">
                   <li> <a href = ~/Suspense.html>Suspense </a></li>
                   <li> <a href = RomComs.html>RomCom</a></li>
                   <li> <a href = Horror.html>Horror</a></li>
                   <li> <a href = Action.html>Action</a></li>
                   <li> <a href = SciFi.html>SciFi</a></li>
                   <li> <a href =  Drama.html> Drama </a></li>
                   <li> <a href = Romance.html> Romance </a></li>
                   <li> <a href = Thriller.html> Thriller </a></li>
                   <li> <a href = Documentary.html> Documentary </a></li>
                   <li> <a href = Adventure.html>Adventure</a></li>
                   <li> <a href = Musical.html> Musical</a></li>
                   <li> <a href =  Mystery.html> Mystery </a></li>
                   <li> <a href = Comedy.html>Comedy</a></li>
                   <li> <a href = Sport.html> Sport</a></li>
                   <li> <a href = Short.html> Short </a></li>
              </ul> 
          </div>

        </div>
          <div class="col-sm-9">

            <div class="row mx-auto">
              <div class="col-sm-4 ">
                <div class="text-left">
                 <h3>Welcome Info</h3>
                      </div>
                              <h2>Top 10 Movies</h2>
                    <ul>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                        <li>MOVIE ONE</li>
                    </ul>
                 <img  class="img-fluid mx-auto"  src="~/images/The Matrix.png" alt="Movie Poster Pic" width="267" height="400" > <!--src="PULL FROM DATABASE VARIABLE GOES HERE"-->

               </div>
                
              <div class="col-sm-4 ">
                <img  class="img-fluid mx-auto" src="~/images/Lord of the Things.png" alt="Movie Poster Pic" width="300" height="400" >
                <div class="text-left">
        <h2>Featured Films</h2>
    <ul>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
    </ul>
                </div>
              </div>
         <div class="col-sm-4">
           <div class="text-left">
        <h2>TOP 10 BEST MOVIES</h2>
    <ul>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
        <li>MOVIE ONE</li>
    </ul>
           </div>
              <img class="img-fluid mx-auto"  src="~/images/Assembly EndProcess.png" alt="Movie Poster Pic" width="300" height="400">
        </div>
        </div>
      </div>
    </div>
  </div>
  
</div>