@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2><i>START WRITING REEL REVIEWS TODAY!</i></h2>

 <div id="Movie_Poster_Pic" >
    <a href="TRMR_MovieReview.html">
    <img src="~/images/The Matrix.png" alt="Movie Poster Pic" width="267" height="400" > <!--src="PULL FROM DATABASE VARIABLE GOES HERE"-->
    <img src="~/images/Lord of the Things.png" alt="Movie Poster Pic" width="300" height="400" >
    <img src="~/images/Assembly EndProcess.png" alt="Movie Poster Pic" width="300" height="400">
    </a>
</div>

