@page
@model TRMR.Pages.LoginModel
@{ ViewData["Title"] = "Login";
}
    <nav> 
      <a href="~/Index"> <img src="~/images/MVRL.png" alt="Movie Reel Pic" width="60" height="20">TOTALLY REEL MOVIE REVIEW </a>
      <a href="~/MovieList">Movie List</a>
      <a href="~/About" >About</a>
      <a href="~/Login" class="active">Login/Register</a>
      <input type="text" class="right" placeholder="Search a movie..">
    </nav>
    
<partial name="_LoginPartial" model="Model"></partial>