@page
@model MovieListModel
@{
   ViewData["Title"] = "MovieList";
}

<nav class="nav2"> 

   <ul class="list-unstyled components">
      <li><a href="#Suspense">Suspense </a></li>
      <li><a href="#RomCom">RomCom</a></li>
      <li><a href="#Horror">Horror</a></li>
      <li><a href="#Action">Action</a></li>
      <li><a href="#SciFi">SciFi</a></li>
      <li><a href="#Drama"> Drama </a></li>
      <li><a href="#Romance"> Romance </a></li>
      <li><a href="#Thriller"> Thriller </a></li>
      <li><a href="#Documentary"> Documentary </a></li>
      <li><a href="#Adventure">Adventure</a></li>
      <li><a href="#Musical"> Musical</a></li>
      <li><a href="#Mystery"> Mystery </a></li>
      <li><a href="#Comedy">Comedy</a></li>
      <li><a href="#Sport"> Sport</a></li>
      <li><a href="#ShortFilm"> Short Film </a></li>
   </ul>

</nav>

<div id="MovieList">
   <main role="main" class="pb-3">
      <div class="row content">
         <div class="col">
            <div id="MovieIndex">
               <h2>List of all TRMR Movies by Genre</h2>

               <hr>

               @foreach (string genre in Model.Genres)
               {
                   
                  <div id="@genre">
                     <h3>@genre</h3>
                     <ul class="MovieList">
                        @{int genreMovCount = 0;}
                        @foreach (var movie in Model.Movies)
                        {
                           @if(movie.Genre == genre){
                              <li><a href = "MovieTemplate?id=@movie.Id">@movie.Title</a></li>
                              genreMovCount++;
                           }
                        }
                        @if(genreMovCount == 0){
                           <li style="color:blue;"><i>TRMR does not currently have any @genre movies up for review</i></li>
                        }
                     </ul>
                  </div>
               }

            </div>
         </div>
      </div>
   </main>
</div>