
@page
@model TRMR.Pages.ProfileModel
@{
    ViewData["Title"] = Model.CurrentUser.ReelName + "'s " + "Profile";
}
@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

<main>
   <strong>
      <b>
         <h2> @Model.CurrentUser.ReelName's Profile Page:</h2> 
      </b>
   </strong>
   <ul>
      <div class="profileList">
         <li><b>Favorite movie(s):</b> @Model.CurrentUser.FavMovie</li>
         <li><b>Favorite genre(s):</b> @Model.CurrentUser.FavGenre </li>
         <li><b>Fun fact:</b> @Model.CurrentUser.Bio </li>
      </div>
   </ul>
</main>