@page
@model TRMR.Pages.SelfProfileModel

@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

@{ApplicationUser appUser = await UserManager.GetUserAsync(User); }

@{
   ViewData["Title"] = appUser.ReelName + "'s " + "Profile";
}

<main>
   <strong>
      <u>
         <h2> @appUser.ReelName's Profile Page:</h2> 
      </u>
   </strong>

   <ul>
      <div class="profileList">
         <li><b>Favorite movie(s):</b> @Model.CurrentUser.FavMovie</li>
         <li><b>Favorite genre(s):</b> @Model.CurrentUser.FavGenre </li>
         <li><b>Fun fact:</b> @Model.CurrentUser.Bio </li>
      </div>
   </ul>

   
   <hr>

   <form method="post" id="SelfProfile">

      <div class="form-group row">
         <label class="col-sm-2 col-form-label"> Let us know what your favorite movie is!</label>
            <div class="col-sm-6">
               <input id="in" asp-for="CurrentUser.FavMovie" type="text" class="form-control" placeholder="Enter your favorite movie(s)...">
            </div>
      </div>

      <div class="form-group row">
         <label class="col-sm-2 col-form-label"> Let us know what your favorite movie genres are!</label>
            <div class="col-sm-6">
               <input id="in2" asp-for="CurrentUser.FavGenre" type="text" class="form-control" placeholder="Enter your favorite genre(s)...">
            </div>
      </div>

      <div class="form-group row">
         <label class="col-sm-2 col-form-label"> Leave a fun fact about yourself so people can know more about you!</label>
            <div class="col-sm-6">
               <input id="in3" asp-for="CurrentUser.Bio" type="text" class="form-control" placeholder="Enter a fun fact...">
            </div>
      </div>

      <div class="form-group row">
         <div class="col-sm-5">
            <button type="submit" class="btn btn-primary" onClick="removeForm()" >Submit</button>
         </div>
      </div>
                     
   </form>



</main>

<script>
function removeForm(){
   var form =  document.getElementById("SelfProfile")[0];
   form.submit();
   document.getElementById("in")[0].value = '';
   document.getElementById("in2")[0].value = '';  
   document.getElementById("in3")[0].value = '';  
}
</script> 