@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "TRMR Account Created";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a id="confirm-link" href="Login" style="color:red;"> Click here </a> to login to your new account!
</p>
