@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
@* <p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p> *@

<p>
    Welcome to Totally Reel Movie Reviews! Please visit our website&#8217;s about page to become familiar with our rules here at TRMR. Non-compliance with these rules may result in 
    deletion of your TRMR account so make sure to follow them.
</p>

<p>    
    After you confirm your TRMR account below and log in, you can also customize your own profile page with some fun facts about yourself that other TRMR users can see. To update your profile page, click on the &#8217;Profile&#8217; tab at the top right corner of the website once you are logged in.

</p>

<img src="~/images/ProfileButton.png" alt="Profile Button">

<p>
    This will take you to a page where you can submit information about yourself that you want to share with your fellow Totally Reel Movie Reviewers!
</p>

<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl" style="color:red;"> Click here to confirm your TRMR account and begin writing Reel Reviews today!</a> 
</p>
    }
    else
    {
<p>
    Please check your email to confirm your account.
</p>
    }
}
