@page
@model MovieListModel
@{
    ViewData["Title"] = "MovieList";
}

<h2>List of Movie</h2>

<ul>
  @foreach (var movie in Model.Movies)
  {
     string link = @movie.Title;
    <li><a href = "/Movies/@link">@movie.Title</a></li> 
  }
</ul>